/*   _____         _____  _____    
  / ____|  /\   |  __ \|  __ \ _ 
 | (___   /  \  | |__) | |__) (_)
  \___ \ / /\ \ |  _  /|  ___/   
  ____) / ____ \| | \ \| |     _ 
 |_____/_/    \_\_|  \_\_|    ( )
                              |/
 ♡ Thanks to Danny for help ♡  
 ♡ thanks to panties.moe for inspo ♡                            
 */                                





@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body {
    overflow: hidden; 
    background-color: darkgray;
    margin: 10px;
    padding: 0;
    background: url(bgtest.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Comic Neue";
}

#content {
    width: -webkit-fill-available;
    display: flex;
    height: 100vh;
    margin: auto;
}

 a:hover {
  color: pink;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    }

.box {
    border-radius: 20px;
    width: 480px;
    background: white;
    padding: 40px;
    text-align: center;
    margin: auto;
    color: black;
}

.image {
    justify-content: center;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
}

.pepe {
    width: 25px;
}

.box h1 {
    justify-content: center;

    font-size: 40px;
    font-weight: 600;

    margin: auto;
    margin-top: 15px;
}

.box h5 {
justify-content: center;
}

.box p {
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .image {
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }

    .box p {
        text-align: center;
    }
}
